<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2>Create a new cocktail</h2>

      <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name %>
        <%= f.button :submit, class: 'btn btn-dark' %>
        <%= link_to 'Back', cocktails_path, class: 'btn btn-black'%>
      <% end %>
    </div>
  </div>
</div>
