.navbar-lewagon {
  justify-content: space-between;
  background: white;
  margin-bottom: 0;
  padding-left: 155px;
  border-bottom: 1px solid gray;
  position: sticky;
  top: 0;
  padding-right: 155px;
  height: 70px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}
